<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solicitud creada a equipos {{eName}}</title>
    {% load static %}

    {% load bootstrap3 %}
    {% bootstrap_css %}

</head>
<body>

    <h1>Cierre de mantención equipo {{eName}}</h1>
      <h3 class="text-justify"> Se ha cerrado la mantención del equipo <mark>{{eName}}</mark> por {{ejecutante}},
      al cual se le realizo los siguiente trabajos: {{acciones}} en la fecha: {{fecha}} correspondiente al número de OT: {{nOt}}</h3>

  </div>
</div>
</div>

</body>
</html>


